:root {
  --bg-dark-gray-color: #4e4e4e; 
  --bg-gray-color: #f2f2f2;
  --default-text-color: #333;
  --theme-color: #74cfae;
  --theme-sub-color: #c0c0c0;
}

.main {
  background: var(--bg-gray-color);
  width: 100%;
  padding-top: 70px;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px;
}

.icon {
  font-size: 40px;
}

.btn {
  background-color: var(--theme-color);
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.btn:hover {
  color: var(--default-text-color);
  transition: 0.3s;
}

.btn-contact {
  padding: 14px 12px;
  transition: 0.3s;
}

.theme {
  background-color: var(--bg-gray-color);
  text-align: center;
}

.theme-inner {
  padding: 250px 0 250px;
}

.theme-main {
  color: var(--theme-color);
  font-family: 'Raleway', sans-serif;
  font-size: 90px;
  font-weight: 700;
}

.theme-sub {
  color: var(--theme-sub-color);
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  margin-top: 20px;
}

.introduction {
  background-color: var(--theme-color);
  color: var(--bg-gray-color);
}

.introduction-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.text_area {
  text-align: center;
  width: 50%;
}

.title_text {
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.explanation_text {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  width: 95%;
}

.explanation_text-intro {
  margin-top: 35px;
}

.works {
  color: var(--bg-dark-gray-color);
}

.works-inner {
  padding: 60px 0 70px;
}

.work_images {
  font-size: 0;
  margin-top: 40px;
}

.work_image {
  display: inline-block;
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: 0.3s;
  width : calc(33.3333333% - 200px / 3);
} 

.work_image:hover {
  opacity: 1;
  transition: 0.3s;
}

.work_image:nth-child(-n + 3) {
  margin-top: 0;
}

.work_image:nth-child(3n + 1) {
  margin-left: 0;
}

.text_area-works {
  display: flex;
  justify-content: center;
  margin: 90px 90px 0 0;
}

.explanation_text-work {
  margin-right: 90px;
  text-align: center;
  width: 52%;
  word-wrap: break-word;
}

.btn-email {
  height: 50%;
  padding: 14px 20px;
  transition: 0.3s;
}

.skills {
  background-color: var(--bg-dark-gray-color);
  color: var(--bg-gray-color);
  width: 100%;
}

.skills-inner {
  padding: 70px 0 70px;
}

.skill_images {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.skill_image {
  margin-left: 180px;
}

.skill_image:first-child {
  margin-left: 0;
}

.skill {
  margin-top: 20px;
  text-align: center;
}

.inner_sns {
  font-size: 0;
  padding: 200px 0 200px;
  text-align: center;
}

.icon-sns {
  color: var(--theme-color);
  padding: 20px 0 20px;
  width: 185px;
  transition: 0.3s;
  display: inline-block;
}

.icon-sns:hover {
  background-color: #fff;
  transition: 0.3s;
}

.footer {
  background-color: var(--theme-color);
  color: var(--bg-gray-color);
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 25px;
}

/* 
  ✔︎header 
  1100px 端

  ✔︎work image
  1100px 端


  ✔︎footer 
  1100px 端

  ✔︎our latest work
  dark-gray

  ✔︎hover
  work-image 6枚
  contact
  email

  sns問題なし
*/

/* 
  header
　main
  div (theme)
  section (what we can do)
  article (our latest work)
  section (our skills)
  nav (sns)
　footer

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <header class="header">    ← このclassに背景色の指定、幅いっぱいのやつ
    <div class="inner header-inner"></div>    ← このclassにコンテンツ幅の指定と中央寄せ
  </header>
  <main>
    <div class="title">    ← このclassに背景色の指定、幅いっぱいのやつ
      <div class="inner title-inner"></div>    ← このclassにコンテンツ幅の指定と中央寄せ
    </div>
  </main>
  <footer class="footer">    ← このclassに背景色の指定、幅いっぱいのやつ
    <div class="inner"></div>    ← このclassにコンテンツ幅の指定と中央寄せ
  </footer>
</body>
</html>

*/

/* 
  ページにはコンテンツ幅ある
  innerにコンテンツはばを持たせてあげることでinnerを変えるだけで問題なく変更できる

  headerからinnerから囲ってしまうと色の指定できる

  修正点　みため
  html 構造修正

  子要素で親の領域に影響を与えることは好ましくない
  親が子の領域を決める。

*/


/* 2回目

  padding　そのもの自体の余白領域を広げる
  margin 要素同士の間をとる margin 基本上と左 top left
    要素は上左へ追加される
    追加削除を自然に行うことができる

   padding marginの修正
   nth:child修正
*/





/* 3n+1
   -n+3
*/

/* :nth-child(-n+3) {
  -方向にn番目 
  +で開始位置
}
(2n) 2 * 1, 2 * 2, 
(2n + 1) 2 * 1 * 1
(3n + 1) 1, 4, 7, 10   */



/* 
  nth-child() 1nは全て
  2n 2 4 6
  3n 3 6 9

  123は上のマージンがいらない
  1,4の左マージンを削除
  7のマージン


  nth:child最初から三番目

*/