@media (max-width:767px) {
  /* SP */
}

@media (min-width: 768px) and (max-width: 1199x) {
  /* TAB */
}

@media (min-width: 1200px) {
  /* PC */
}

body {
  font-family: 'Lato', sans-serif;
}

.font_Raleway {
  font-family: 'Raleway', sans-serif;
}

.main {
  background-color: #f2f2f2;
  width: 100%;
  padding-top: 70px;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }
}

.header {
  background-color: #fff;
  width: 100%;
}

@media screen and (min-width: 768px){
  .header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px;
}

.icon {
  font-size: 40px;
}

.icon-bolt {
  color: #4e4e4e;
}

.btn {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.btn:hover {
  color: #333;
  transition: 0.3s;
}

.btn-contact {
  padding: 14px 12px;
  transition: 0.3s;
}

.theme {
  background-color: #f2f2f2;
  text-align: center;
}

.theme-inner {
  padding: 250px 0 250px;
}

.theme-main {
  color: #74cfae;;
  font-size: 90px;
  font-weight: 700;
}

.theme-sub {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .hamburger_menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .main {
    padding-top: 0;
  }

  .icon-bolt {
    font-size: 60px;
  }

  .btn-contact {
    display: none;
  }

  .hamburger_menu {
    content: "";
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 20px;
    padding: 10px;
    position: relative;
    width: 25px;
  }

  .line_top {
    background-color: #ddd;
    height: 3px;
    position: absolute;
    top: 11px;
    width: 25px;
  }

  .line_middle {
    background-color: #ddd;
    height: 3px;
    position: absolute;
    top: 18px;
    width: 25px;
  }

  .line_bottom {
    background-color: #ddd;
    height: 3px;
    position: absolute;
    top: 25px;
    width: 25px;
  }

  .theme-inner {
    padding: 160px 0 130px;
  }

  .theme-main {
    font-size: 80px;
  }
}

.introduction {
  background-color: #74cfae;;
  color: #f2f2f2;
}

/* .introduction-inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
} */

.text_area {
  text-align: center;
  /* width: 50%; */
}

.title_text {
  font-size: 24px;
  text-align: center;
}

.explanation_text {
  font-size: 20px;
  width: 95%;
}

.explanation_text-intro {
  margin-top: 35px;
}


@media (max-width: 767px) {
  .introduction-inner {
    padding: 50px 0 25px; 
  }

  .iPhone_image {
    display: block;
    margin: 0 auto;
  }

  .text_area {
    margin-top: 15px;
  }

  .explanation_text-intro {
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .introduction-inner {
    padding: 50px 0 35px;
    text-align: center;
  }

  .title_text-intro {
    margin-top: 20px;
  }

  .explanation_text-intro {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .introduction-inner {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
  }

  .text_area {
    width: 50%;
  }
}

.works {
  color: #4e4e4e;
}

.works-inner {
  padding: 60px 0 70px;
}

.work_images {
  font-size: 0;
  margin-top: 40px;
}
/* 
.work_image {
  display: inline-block;
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: 0.3s;
  width : calc(33.3333333% - 200px / 3);
}  */

.work_image {
  opacity: 0.7;
  transition: 0.3s;
}

.work_image:hover {
  opacity: 1;
  transition: 0.3s;
}

.work_image:nth-child(-n + 3) {
  margin-top: 0;
}

.work_image:nth-child(3n + 1) {
  margin-left: 0;
}

/* .text_area-works {
  display: flex;
  justify-content: center;
  margin: 90px 90px 0 0;
} */

/* .explanation_text-work {
  text-align: center;
  width: 58%;
  word-wrap: break-word;
} */

.explanation_text-work {
  text-align: center;
}

.btn-email {
  height: 50%;
  padding: 14px 20px;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .work_image {
    display: block;
    text-align: center;
  }
  
  .work_image:nth-child(3n + 1) {
    margin-top: 80px;
  }

  .work_image:first-child {
    margin-top: 0;
  }

  .text_area-works {
    margin-top: 90px;
    text-align: center;
  }

  .explanation_text-work {
    margin: auto;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
  }

  .btn-email {
    display: inline-block;
    padding: 14px 30px
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .work_image {
    display: block;
    text-align: center;
  }

  .work_image:nth-child(3n + 1) {
    margin-top: 80px;
  }

  .work_image:first-child {
    margin-top: 0;
  }
  
  .text_area-works {
    margin-top: 80px;
    text-align: center;
  }

  .explanation_text-work {
    width: 100%;
  }

  .btn-email {
    display: inline-block;
    height: 50%;
    margin-top: 40px;
    padding: 14px 20px;
    transition: 0.3s;
  }
}


@media (min-width: 1200px) {
  .work_images {
    margin-top: 40px;
  }

  .work_image {
    display: inline-block;
    margin: 80px 0 0 100px;
    opacity: 0.7;
    transition: 0.3s;
    width : calc(33.3333333% - 200px / 3);
  } 

  .text_area-works {
    display: flex;
    justify-content: center;
    margin: 90px 90px 0 0;
  }

  .explanation_text-work {
    /* text-align: center; */
    width: 58%;
    word-wrap: break-word;
  }

  .btn-email {
    margin-left: 90px;
  }
}

.skills {
  background-color: #4e4e4e;
  color: #f2f2f2;
  width: 100%;
}

.skills-inner {
  padding: 70px 0 70px;
}

/* .skill_images {
  display: flex;
  justify-content: center;
  margin-top: 70px;
} */

/* .skill_image {
  margin-left: 180px;
} */

/* .skill_image:first-child {
  margin-left: 0;
} */

.skill {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .skills-inner {
    padding: 70px 0 100px;
  }
  
  .skill_image_area {
    margin-top: 80px;
    text-align: center;
  }

  .skill_image_area:first-child {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .skill_image_area {
    text-align: center;
    margin-top: 80px;
  }

  .skill_image_area:first-child {
    margin-top: 40px;
  }

  .skill_image {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .skill_images {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  .skill_image_area {
    margin-left: 180px;
  }
    
  .skill_image_area:first-child {
    margin-left: 0;
  }
}

.sns {
  font-size: 0;
  text-align: center;
}

.sns-inner {
  padding: 200px 0 200px;
}

.icon-sns {
  color: #74cfae;
  padding: 20px 0 20px;
  width: 185px;
  transition: 0.3s;
  display: inline-block;
}

.icon-sns:hover {
  background-color: #fff;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .sns {
    margin: 0 15px;
  }

  .sns-inner {
    padding: 50px 0 50px;
    width: 100%;
  }

  .icon-sns {
    padding: 35px 0 35px;
    width: 100%;
  }
}

.footer {
  background-color: #74cfae;;
  color: #f2f2f2;
}

.footer-inner {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0 25px;
}